<% include partials/header %>
  <div class="welcome">
    <div class="container">
      <div class="slogan">
        <h1>Why Wonder</h1>
        <p>When you can ask</p>
      </div>
      <div class="join">
        <a class="register" href="/register">Sign Up</a>
        <a class="login" href="/login">Login</a>
      </div>
    </div>
  </div>
<% include partials/footer %>