<% include partials/header %>
  <div class="container">
    <div class="question">
      <h2><%= question.text %></h2>
      <hr>
      <p><%= question.answer %></p>
    </div>
  </div>
<% include partials/footer %>
